<p style="color: green"><%= notice %></p>

<h1>Daily logs</h1>

<div id="daily_logs">
  <% @daily_logs.each do |daily_log| %>
    <p>
      <%= link_to daily_log.date, daily_log_path(daily_log) %>
    </p>
  <% end %>
</div>

<%= link_to "New daily log", new_daily_log_path %>
