<div class='flex-col'>
  <h1 class='text-xl'>New daily log</h1>

  <%= render "form", daily_log: @daily_log %>

  <br>

  <div>
    <%= link_to "Back to daily logs", daily_logs_path %>
  </div>
</div>
