<p style="color: green"><%= notice %></p>

<h1>Log entries</h1>

<div id="log_entries">
  <% @log_entries.each do |log_entry| %>
    <%= link_to log_entry.food_name, daily_log_log_entry_path(@daily_log, log_entry) %>
  <% end %>
</div>

<%= link_to "New log entry", new_daily_log_log_entry_path(@daily_log) %>
